@model IEnumerable<MasudUniversity.Models.Student>

@{
    ViewData["Title"] = "StudentAddressCheck";
}

<h1>StudentAddressCheck</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </th>
            <th>
                Address
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup)
            </td>
                @foreach (var masud in item.StudentAddresses)
                {
                
                    <td>
                            @Html.DisplayFor(modelItem => masud.Address)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => masud.Contact)
                    </td>
                
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


  <h1> Student from view bag data</h1>

@foreach (var item in ViewBag.studentonly)
{
            @item.StudentName
  }